html, body {
  background-color: #D7F0D5;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.position {
  margin-left: 967px;
  width: 367px;
}

.mapbutton, .namesbutton {
  position: relative;
  font-size: 32px;
  text-align: center;
  width: 16vw;
  height: 5vh;
  border: none;
}

.header {
  display: flex;
  width: 100vw;
  height: 64px;
  background-color: #98CB9A;
}

.mapbutton {
  background-color: #98CB9A !important;
  position: relative;
  top: 91px;
  left: 464px;
}

.namesbutton {
  background-color: #F9B07B !important;
  position: relative;
  top: 91px;
  left: 749px;
}