.MuiPaper-root {
    padding: 3vw;
    height: 100%;
}

.header {
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.item {
    padding: 10px;
}
